/* http://colorblender.com/?preloadblend=BC00008A513EFFF2DE5E5550857C73FCFCFC */

body { font-family: 'Lucida Grande', Arial, sans-serif; margin: 0; padding: 0; background: #5D5E5E;}

#mainpage { padding-top: 58px; }

/****************************************/

#welcome { width: 550px;  margin-left: auto; margin-right: auto; cursor: pointer; background: white; color: black; border: 1px black solid; padding:10px; }
.license { font-size: 70%; }
.emph { font-size: 150%; font-weight: bold; text-align: center; }

/****************************************/

#toolbar { position: fixed; top:0px; left: 0px; height: 48px; width: 100%;
	background: #2D3E70; color: white; border-bottom: gray solid 1px;
	z-index: 1000; opacity: 0.9; display: none; 
	}

#version { font-size: 70%; padding-left: 10px; padding-right: 10px; float:right; }
#busy { display: none; } 

.viamarker { z-index: 500; position: absolute; }

/****************************************/

/* #themap { margin-left: auto; margin-right: auto; padding: 0; width: 800px; padding-top: 10px; display: none; } */
#existingdata { border: none; position: absolute; left: 10px; top: 58px; }

/****************************************/

#filepicker { width: 500px;  margin-left: auto; margin-right: auto; display: none; padding:10px; background: white; color: black; border: 1px black solid;  }

#filelist { list-style: none;
	margin: 0; border: 0; padding: 0;
	width: 400px; 
	background: #ddd;
	border: 1px solid gray;
	border-right: 2px solid gray;
	border-bottom: 2px solid gray;
	font-size: 110%;
	margin-left: auto; margin-right: auto;
}	

#filelist li { border-bottom: 1px solid gray; font-weight: bold; }
#filelist li a em { font-size: 90%; font-weight: normal; font-family: serif;}
#filelist li a { padding: 4px; text-decoration: none; color: black; width: 99%; display: block; }
#filelist li a:hover { color: white; background: #2D3E70; }
#filelist li a img { border: none; padding: 2px; }
#filelist li#status em { font-size: 90%; font-weight: normal; font-family: serif; }


/****************************************/


.draggablenode { cursor: move; }

#toolbar ul {
  float:left;  width:100%;
  margin:0;   padding:0;
  font-size:11px;   color:#fff;
  background:#ccc;   background: #1958b7;
  margin-bottom: 10px; }
  
#toolbar ul li {
  display:inline;
}

#toolbar ul li {
  float:left; padding:5px 10px; text-decoration:none;
    
    color:#fff;
  background-image: url('editor-resources/slider_black_bg.png');
  background-repeat: repeat-x; 
    
  cursor: pointer; text-align: center;
  /*
   border-left: #508fc4 2px solid; border-right: #1958b7 2px solid;
  border-top: #508fc4 2px solid;  border-bottom: #1958b7 2px solid;
  background: #2175bc; */
    
}