output
test-suite/diffs/
test-suite/results1-php5/
test-suite/results2-php5/
test-suite/summary.html
weathermap.iml
weathermap.ipr
weathermap.iws
# build
build/*
dist/*
!build/phpmd.xml
!build/phpunit.xml
!build/phpdox.xml
!build/phpcs.xml
!build/network-weathermap.doxy
vendor/*