# Created by .ignore support plugin (hsz.mobi)
.idea/
build
build/*
dist/*
composer.lock
!build/phpmd.xml
!build/phpunit.xml
!build/phpdox.xml
!build/phpcs.xml
!build/network-weathermap.doxy
vendor/*
docs/dev/generated/
docs/dev/phpcs/
docs/dev/vagrant-testers/*.zip
node_modules/
reports/
output/*
test-suite/results*
test-suite/diffs/*
test-suite/summary.html
test-suite/summary-failing.html
docs/dev/vagrant-testers/.vagrant/
