tr.wm_disabled {
    color: #ccc;
}

.wm_warning {
    padding: 5px;
    width: 50%;
    border: 2px red solid;
    margin: 5px auto 15px auto;
    background-color: #fee;
}

.wm_note {
    padding: 5px;
    width: 50%;
    margin: 5px auto 15px auto;
}

.wm_notyet {
    width: 200px;
    height: 162px;
    background-color: #ccc;
    padding: 10px;
    text-align: center;
}

.wm_notyet_larger {
    text-align: center;
    width: 400px;
    height: 344px;
    background-color: #ccc;
    padding: 20px;
    font-style: italic;
    font-size: 150%;
}