tr.wm_disabled { color: #ccc; }

.wm_warning { padding:5px; width: 50%; border: 2px red solid; margin: 5px auto 15px auto; background-color: #fee; }

body#wm_fullscreen { font-family: sans-serif; margin: 0; border: 0; padding: 0; background-color: black; }

#wmcyclecontrolbox.fullscreen {
    z-index: 100;
    opacity: 0.9;
    position: fixed;
    left: 10px;
    top: 10px; 
}

#wmcyclecontrolbox {    
    background-color: rgb(255,255,255);
    padding: 10px;
    border: solid 1px black;
    width: 450px;    
    font-size: small;       
}

#wmcyclecontrolbox.fullscreen #cycle_fullscreen { display: none; }

#wm_progress { width: 450px; background-color: rgb(128,128,128); height: 8px; margin-bottom: 2px; }

#wm_progress.paused { background-color: rgb(128,0,0); }

.fullscreen .weathermapholder { display: none; position: absolute;  }

.inplace .weathermapholder { display: none; }

/* .all_map_holder { margin-left: auto; margin-right: auto;  } */
