@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), url('../docs/fonts/PTS55F-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    src: local('PT Sans Italic'), url('../docs/fonts/PTS56F-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: bold;
    src: local('PT Sans Bold'), url('../docs/fonts/PTS75F-webfont.ttf') format('truetype') ;
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: bold;
    src: local('PT Sans Bold Italic'), url('../docs/fonts/PTS76F-webfont.ttf') format('truetype');
}

html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#imagecontainer {
    border: 1px solid gray;
}

body {
    background: url("img/grey_wash_wall.png");
}

#existinglist {
    height: 150px;
    overflow-y: scroll;
    border: 1px solid gray;
}

#xycapture {
    cursor: crosshair;
    z-index: 200;
}

#wmmaincontainer {
    margin-top: 80px;
}

#datapickerlist {
    height: 200px;
    overflow-y: scroll;
}

.debug {
    margin-top: 10px;
}

.dlgUnderlay { z-index: 4950; width: 100%; height: 100%; position: absolute; left:0; top:0; background-color: black; opacity: 0.4; }

.dlgProperties { background-color: white; border: 2px solid gray; position: absolute; left: 20px; top:100px; padding:0; margin: 0; z-index: 5000; opacity: 1.0;}
.dlgProperties .dlgBody { padding: 8px; }
.dlgProperties h3 { background-color: gray; color: white; margin:0; padding:8px; cursor: move;}
.dlgProperties .dlgTitlebar { padding: 4px; }

#canvas_node_drag { cursor: move; border: 4px solid red; z-index: 6000; }

