.wm-actionbar {
    padding: 3px;
    background: lightgray;
}

.wm-actionbar button {
    margin-right: 5px;
}

.wm-footer {
    padding: 3px;
    background: lightgray;
    border-top: solid 1px darkgray;
}

.wm-footer-element {
    margin-right: 6px;
    border-right: 1px solid gray;
    padding-right: 6px;
}

.wm-picker tr {
    border-bottom: 1px solid lightgray;
}

.wm-picker {
    margin: 3px;
}

.wm-picker td {
    padding: 3px;
}

.wm-popup {
    position: absolute;
    left: 130px;
    top: 130px;
    z-index: 1000;
    width: 600px;
    background: white;
}

.wm-picker-container {
    padding: 20px;
    border: 2px solid green;
}

.wm-map-properties-container {
    padding: 20px;
    border: 2px solid blue;
}
