.wm-actionbar {
    padding: 3px;
    background: lightgray;
}

.wm-actionbar button {
    margin-right: 5px;
}

.wm-footer {
    padding: 3px;
    background: lightgray;
    border-top: solid 1px darkgray;
}

.wm-footer-element {
    margin-right: 6px;
    border-right: 1px solid gray;
    padding-right: 6px;
}

.wm-picker tr {
    border-bottom: 1px solid lightgray;
}

.wm-picker {
    margin: 3px;
}

.wm-picker td {
    padding: 3px;
}

.wm-picker-container {
    padding: 20px;
    border: 2px solid green;
}

.wm-map-properties-container {
    padding: 20px;
    border: 2px solid blue;
}

.wm-group-properties-container {
    padding: 20px;
    border: 2px solid blue;
}

.wm-add-group-container {
    padding: 20px;
    border: 2px solid green;
}

.wm-create-map-container {
    padding: 20px;
    border: 2px solid green;
}

.wm-file-selector {
    padding: 20px;
    border: 2px solid green;
}

.wm-row-selected {
    background: yellow;
}

.centred_box {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* added to the body element when shown; prevent scrolling */
.wm-modal-open {
    overflow: hidden;
}

/* container that contains all modals and backdrops */
.wm-modal-container {
    position: fixed;
    z-index: 1000
}

/* backdrop shown behind each modal */
.wm-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.3)
}

/* wrapper element for the modal component */
.wm-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #777;
}