
.tocentry {
    padding-right: 1em;
}

.wrapper {
    margin: auto;
    width: 940px;
    padding: 0 10px;
    clear: both;
}

figure {
    margin-bottom: 1.5em;
    padding-left: 1.5em;
}

.changes dl {
    padding-left: 1.5em;
}

.definition {
    padding-left: 1.5em;
    overflow: hidden;
    margin-bottom: 1em;
    border-radius: 3px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.examples blockquote {
    border: none;
}

blockquote.example {
    border: none;
}

tt.clioption {
    font-weight: bold;
    font-size: 105%;
    white-space: nowrap;
}

#content {
    margin-top: 1em;
}

.scope {
    margin-left: 5px;
    padding: 2px;
    font-size: 50%;
    color: white;
}

.scope-GLOBAL {
    background: red;
}

.scope-NODE {
    background: dodgerblue;
}

.scope-LINK {
    background: green;
}

.referenceentry {
    margin-top: 4em;
}

h2.configsection {
    margin-top: 2em;
}